<!DOCTYPE HTML>
<html lang="en">

<head>

    <link href='https://fonts.googleapis.com/css?family=Sigmar One' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        body {
            color: black;
        }
        body {
            background-image: url("https://images.unsplash.com/photo-1594293390817-a4554dc6a713?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmVhY2glMjBuaWdodHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
            background-repeat: no-repeat;
            background-size: cover;
        }

        h2{
            color: white;
            margin-top: 15px;
            background-color: rgba(0, 0, 0, 0.25);
            width: 22%;
        }
    </style>
    <script>

    </script>

    {% block head %}
    {% endblock %}

</head>
<body>

{% include "layouts/navbar.html" %}

{% block body %}

<div align="center">
    <h2>Search for a Page!</h2>
    <input id="beachsearch" placeholder="search for a page">
    <input id="submit" type="submit" onclick="document.location.href=SearchBeaches(beachPages)">
</div>

<div align="center">
    <p id="error"></p>
</div>


<script>
    //  search function -----------------------------------------------------------------------------------------------

    const beachPages = '{"pages":[' +
        '{"name":"Del Mar Beach", "url":"/del-mar-beach/"},' +
        '{"name":"Solana Beach", "url":"/solana-beach/"},' +
        '{"name":"Pacific Beach", "url":"/pacific-beach/"},' +
        '{"name":"Blacks Beach", "url":"/blacks-beach/"},' +
        '{"name":"Survey", "url":"/favoritebeach1/"}]}';

    const pblPages = '{"pages":[' +
        '{"name":"Favorite Beach Survey", "url":"/favoritebeach1/"},' +
        '{"name":"Survey", "url":"/favoritebeach1/"},' +
        '{"name":"Snake Game", "url":"/snake-game/"},' +
        '{"name":"Hangman Game", "url":"/hangman-game/"}]}';

    const aboutPages = '{"pages":[' +
        '{"name":"Akhil Nandhakumar", "url":"/akhil/"},' +
        '{"name":"Yash Shah", "url":"/yash/"},' +
        '{"name":"Avinh Huynh", "url":"/avinh/"},' +
        '{"name":"Jay Manjrekar", "url":"/jay/"}]}';

    function SearchBeaches(dictName) {    // function to search for pages

        x = JSON.parse(dictName); // converts dictionary to JSON data

        input = document.getElementById('beachsearch');  // user's input is taken from what is inputted into the search bar

        list = input.value.toLowerCase(); // removes case sensitivity

        for (i = 0; i < dictName.length; i++) { // iterates for each item in dictionary

            if (list.substring(0, list.length) === x.pages[i].name.toLowerCase().substring(0, list.length)) {
                // ^ substrings so that the whole word doesn't need to be typed in as input ^
                // checks if the input matches one of the pages in the dictionary

                link = x.pages[i].url //assigns variable "link" to the url of the page found

                document.getElementById('error').innerHTML=""  // clears the error message if one existed from previous searches

                return link  // returns the url as a string

            } else{  // if the input does not match any of the pages in the dictionary,
                document.getElementById('error').innerHTML="Page Does Not Exist. Please search for pages similar to: " + x.pages[Math.floor(Math.random() * 3)].name
                // display an error message, and give example of acceptable input
            }
        }
    }

</script>
{% endblock %}

</body>
</html>