<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Surfable</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <!-- things on the navbar -->
    <ul class="navbar-nav mr-auto">
      <!-- put new navbar buttons here-->

      <!-- Beaches drop down -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarModel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Beaches
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="/solana-beach/">Solana Beach</a>
          <a class="nav-link" href="/del-mar-beach/">Del Mar Beach</a>
          <a class="nav-link" href="/blacks-beach/">Blacks Beach</a>
          <a class="nav-link" href="/pacific-beach/">Pacific Beach</a>
          <div class="dropdown-divider"></div>
          <a class="nav-link" href="/snake-game/">Snake Game</a>
          <a class="nav-link" href="/hangman-game/">Hangman Game</a>
          <a class="nav-link" href="/graphing/">Graphing</a>
          <a class="nav-link" href="/wordle/">Wordle</a>
          <a class="nav-link" href="/beach-guessing/">Beach Word Scramble Game</a>
          <a class="nav-link" href="/tic-tac-toe/">Tic Tac Toe</a>
          <div class="dropdown-divider"></div>
          <a class="nav-link" href="/favoritebeach1/">Favorite Beach Survey</a>
          <a class="nav-link" href="/beachlocation3/">Beach Location 3</a>
          <a class="nav-link" href="/jaypbl/">jaypbl</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarModel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reviews
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href={{ url_for('crud.crud') }}>Write a Review</a>
          <a class="nav-link" href={{ url_for('crud_api.crud_api') }}>Async Reviews</a>
          <a class="nav-link" href={{ url_for('crud.search') }}>Search for Reviews</a>
        </div>
      </li>
      <!-- Our Work drop down -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarModel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="/yash/">Yash S</a>
          <a class="nav-link" href="/akhil/">Akhil N</a>
          <a class="nav-link" href="/valen/">Valen R</a>
          <a class="nav-link" href="/avinh/">Avinh H</a>
          <a class="nav-link" href="/jay/">Jay M</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
