<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Surfable</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <!-- things on the navbar -->
    <ul class="navbar-nav mr-auto">
      <!-- put new navbar buttons here-->
      <a class="nav-link" href="/customization/">Surfing Stuff</a>
      <a class="nav-link" href={{ url_for('crud.crud') }}>SQL CRUD</a>
      <a class="nav-link" href={{ url_for('crud.search') }}>SQL Search</a>
      <a class="nav-link" href="/reviews/">Reviews</a>
      <!-- Beaches drop down -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarModel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Beaches
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="/beachlocation1/">Beach Location 1</a>
          <a class="nav-link" href="/beachlocation2/">Beach Location 2</a>
        </div>
      </li>

      <!-- Our Work drop down -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarModel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="/yash/">Yash S</a>
          <a class="nav-link" href="/akhil/">Akhil N</a>
          <a class="nav-link" href="/valen/">Valen R</a>
          <a class="nav-link" href="/avinh/">Avinh H</a>
          <a class="nav-link" href="/jay/">Jay M</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
