{% extends "assignments/AboutUs/about_layout.html" %}

{% set project = "About Akhil" %}

{% block body %}

<h1 align="center"> Akhil Nandhakumar </h1>
<img id="toggleImage" src="https://github.com/AkhilNandhakumar/Team-MicrosoftTechSupport/blob/main/Static/AboutUs-Pictures/Akhil/akhil_mask.jpeg?raw=true" width="225" height="300">
<button id="toggleButton" onclick="imageToggle('https://github.com/AkhilNandhakumar/Team-MicrosoftTechSupport/blob/main/Static/AboutUs-Pictures/Akhil/akhil_no_mask.jpeg?raw=true', 'https://github.com/AkhilNandhakumar/Team-MicrosoftTechSupport/blob/main/Static/AboutUs-Pictures/Akhil/akhil_mask.jpeg?raw=true')">Click to toggle image!</button>
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

<font size="+1.5"; color="black">
    <div style="margin: 0px 50px">
        <p>My name is Akhil Nandhakumar. I am 16 years old, and turning 17 on November 1st. I am junior at Del Norte High School.</p>
    </div>

    <div style="margin: 0px 50px;">
        <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/about%20static/akhil%20static/Akhil4.jpg?raw=true"alt="Me Playing Tennis, JTT Sectional Finals" width="225" height="300">
    </div>

    <div style="margin: 0px 50px;">
        <p>One of my favorite hobbies is tennis. I play for the Del Norte team, and enjoy playing with my brother. The pictures above are me playing at the California Jr. Team Tennis Sectionals Finals, and hitting with my brother at the local courts in 4s Ranch.</p>
        <p>Some of my other hobbies include playing piano, singing, hiking, and mountain biking. Here are a couple pictures of me and my family below!</p>
    </div>

    <div style=" margin: 0px 50px">
        <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/about%20static/akhil%20static/Akhil1.jpg?raw=true" width="225" height="300">
        <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/about%20static/akhil%20static/Akhil3.jpg?raw=true" width="225" height="300">
        <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/about%20static/akhil%20static/Akhil6.jpg?raw=true" width="225" height="300">
    </div>

    <div style="margin: 0px 50px;">
        <p>In the future, I want to go into Mechanical Engineering. I hope to be an aernautical engineer or do work with cars/automobiles.</p>

    </div>
</font>

{% endblock %}