{% extends "layouts/base.html" %}

{% set project = "Akhil About Me" %}

{% block body %}
<style>
    img#toggleImage{
        margin-top: 10px;
    }

    a#links{
        text-decoration: underline;
        font-size: 25px;
    }

    #header{
        color: white;
        margin-top: 30px;
    }
    div#body{
        margin: 0px 50px;
        font-size: 20px;color: white;
        font-family: Arial;

    }
    div#ATPapi{
        font-size: 30px;
        background: rgba(13, 21, 47, 0.63);
        margin-right: 25%;
        margin-left: 25%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    div#WTAapi{
        font-size: 30px;
        background: rgba(41, 13, 47, 0.63);
        margin-right: 25%;
        margin-left: 25%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    body{
        background-image: url("https://github.com/AkhilNandhakumar/Team-MicrosoftTechSupport/blob/main/Static/AboutUs-Pictures/Akhil/background%20about%20image%20akhil.jpeg?raw=true");
    }

</style>

<script>
    let imgStatus = 'mask';
    function imageToggle(unmasked, masked) {
        if (imgStatus == 'mask') {
            var imgType = document.getElementById("toggleImage");
            imgType.src = unmasked;
            imgStatus = 'nomask';
        }
        else{
            var imgType = document.getElementById("toggleImage");
            imgType.src = masked;
            imgStatus = 'mask';
        }
    }

    function apiToggle() {
        let ATP = document.getElementById("ATPapi");
        let WTA = document.getElementById("WTAapi");
        if (ATP.style.display === "none") {
            ATP.style.display = "block";
            WTA.style.display = "none";
        } else {
            ATP.style.display = "none";
            WTA.hidden = false;
            WTA.style.display = "block";
        }
    }
</script>


<h1 id="header" align="center"> Akhil Nandhakumar </h1>
<div align="center">
    <a id="links" href="https://docs.google.com/document/d/1geU9paAdtZwbeuL5gZV7TnSUav7B4RINUZdbdMl7DAQ/edit?usp=sharing">CSP Journal</a><br>
    <a id="links" href="https://github.com/AkhilNandhakumar/Team-MicrosoftTechSupport/commits?author=AkhilNandhakumar">Commits</a><br>
    <a id="links" href="https://docs.google.com/document/d/14YG7ZscxqKMrEArx1GuzEqcIB_f6ZqT086UE8ttQ3lM/edit?usp=sharing">Create Task Plan</a>
</div>
<div align="center">
    <img id="toggleImage" src="https://github.com/AkhilNandhakumar/Team-MicrosoftTechSupport/blob/main/Static/AboutUs-Pictures/Akhil/akhil_mask.jpeg?raw=true" width="225" height="300">
    <br><br>
    <button id="toggleButton" onclick="imageToggle('https://github.com/AkhilNandhakumar/Team-MicrosoftTechSupport/blob/main/Static/AboutUs-Pictures/Akhil/akhil_no_mask.jpeg?raw=true','https://github.com/AkhilNandhakumar/Team-MicrosoftTechSupport/blob/main/Static/AboutUs-Pictures/Akhil/akhil_mask.jpeg?raw=true')">Click to toggle image!</button>
</div>

<div id="body" class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

    <div>
        <p>My name is Akhil Nandhakumar. I am 16 years old, and turning 17 on November 1st. I am junior at Del Norte High School.</p>
    </div>

    <div>
        <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/about%20static/akhil%20static/Akhil4.jpg?raw=true" alt="Me Playing Tennis, JTT Sectional Finals" width="225" height="300">
    </div>

    <div>
        <p>One of my favorite hobbies is tennis. I play for the Del Norte team, and enjoy playing with my brother. The pictures above are me playing at the California Jr. Team Tennis Sectionals Finals, and hitting with my brother at the local courts in 4s Ranch.</p>
        <p>Some of my other hobbies include playing piano, singing, hiking, and mountain biking. Here are a couple pictures of me and my family below!</p>
    </div>

    <div>
        <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/about%20static/akhil%20static/Akhil1.jpg?raw=true" width="225" height="300">
        <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/about%20static/akhil%20static/Akhil3.jpg?raw=true" width="225" height="300">
        <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/about%20static/akhil%20static/Akhil6.jpg?raw=true" width="225" height="300">
    </div>

    <div>
        <p>In the future, I want to go into Mechanical Engineering. I hope to be an aernautical engineer or do work with cars/automobiles.</p>
        <br>

    </div>

    {% set rank = data.data%}
    {% set WTArank = WTAdata.data %}



    <div align="center" id="ATPapi">
        <p> ATP Tennis Top 10 Rankings API:</p>
        <button onclick="apiToggle()">Click to Toggle Men's and Women's Rankings</button>
        <p> Last Updated: {{rank[0].official_updated_at}}</p><br>

        <img src="{{ rank[0].team.logo}}" width="50" height="50">
        <p>{{ rank[0].ranking }}: {{ rank[0].team.name_full }}</p>

        <img src="{{ rank[1].team.logo}}" width="50" height="50">
        <p>{{ rank[1].ranking }}: {{ rank[1].team.name_full }}</p>

        <img src="{{ rank[2].team.logo}}" width="50" height="50">
        <p>{{ rank[2].ranking }}: {{ rank[2].team.name_full }}</p>

        <img src="{{ rank[3].team.logo}}" width="50" height="50">
        <p>{{ rank[3].ranking }}: {{ rank[3].team.name_full }}</p>

        <img src="{{ rank[4].team.logo}}" width="50" height="50">
        <p>{{ rank[4].ranking }}: {{ rank[4].team.name_full }}</p>

        <img src="{{ rank[5].team.logo}}" width="50" height="50">
        <p>{{ rank[5].ranking }}: {{ rank[5].team.name_full }}</p>

        <img src="{{ rank[6].team.logo}}" width="50" height="50">
        <p>{{ rank[6].ranking }}: {{ rank[6].team.name_full }}</p>

        <img src="{{ rank[7].team.logo}}" width="50" height="50">
        <p>{{ rank[7].ranking }}: {{ rank[7].team.name_full }}</p>

        <img src="{{ rank[8].team.logo}}" width="50" height="50">
        <p>{{ rank[8].ranking }}: {{ rank[8].team.name_full }}</p>

        <img src="{{ rank[9].team.logo}}" width="50" height="50">
        <p>{{ rank[9].ranking }}: {{ rank[9].team.name_full }}</p>
    </div>

    <div align="center" id="WTAapi" hidden="true">
        <p> WTA Tennis Top 10 Rankings API:</p>
        <button onclick="apiToggle()">Click to Toggle Men's and Women's Rankings</button>
        <p> Last Updated: {{WTArank[0].official_updated_at}}</p><br>

        <img src="{{ WTArank[0].team.logo}}" width="50" height="50">
        <p>{{ WTArank[0].ranking }}: {{ WTArank[0].team.name_full }}</p>

        <img src="{{ WTArank[1].team.logo}}" width="50" height="50">
        <p>{{ WTArank[1].ranking }}: {{ WTArank[1].team.name_full }}</p>

        <img src="{{ WTArank[2].team.logo}}" width="50" height="50">
        <p>{{ WTArank[2].ranking }}: {{ WTArank[2].team.name_full }}</p>

        <img src="{{ WTArank[3].team.logo}}" width="50" height="50">
        <p>{{ WTArank[3].ranking }}: {{ WTArank[3].team.name_full }}</p>

        <img src="{{ WTArank[4].team.logo}}" width="50" height="50">
        <p>{{ WTArank[4].ranking }}: {{ WTArank[4].team.name_full }}</p>

        <img src="{{ WTArank[5].team.logo}}" width="50" height="50">
        <p>{{ WTArank[5].ranking }}: {{ WTArank[5].team.name_full }}</p>

        <img src="{{ WTArank[6].team.logo}}" width="50" height="50">
        <p>{{ WTArank[6].ranking }}: {{ WTArank[6].team.name_full }}</p>

        <img src="{{ WTArank[7].team.logo}}" width="50" height="50">
        <p>{{ WTArank[7].ranking }}: {{ WTArank[7].team.name_full }}</p>

        <img src="{{ WTArank[8].team.logo}}" width="50" height="50">
        <p>{{ WTArank[8].ranking }}: {{ WTArank[8].team.name_full }}</p>

        <img src="{{ WTArank[9].team.logo}}" width="50" height="50">
        <p>{{ WTArank[9].ranking }}: {{ WTArank[9].team.name_full }}</p>
    </div>
</div>


{% endblock %}