{% extends "assignments/AboutUs/about_layout.html" %}
{% set project = "Jay About Me" %}

{% block head %}

<style>
    .h1 {
        color: white;
        text-align: center;
        padding-top: 20px;
    }
    body {
        background-image: url('/Static/AboutUs-Pictures/Yash/Yash-Final-Background.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

{% endblock %}
{% block body %}

<div class="h1">
    <h1>About Me Page</h1>
</div>

<img id="toggleImage" src=unmased_image width="225" height="300"> # add your images in DOM
<button id="toggleButton" onclick="imageToggle(masked_image, unmasked_image)">Click to toggle image!</button> # add your images in function

{% endblock %}