{% extends "layouts/base.html" %}

{% set project = "Akhil About Me" %}

{% block meta %}
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
{% endblock %}

{% block body %}
<style>

</style>

<script>
    let imgStatus = 'mask';
    function imageToggle(unmasked, masked) {
        if (imgStatus == 'mask') {
            var imgType = document.getElementById("toggleImage");
            imgType.src = unmasked;
            imgStatus = 'nomask';
        }
        else{
            var imgType = document.getElementById("toggleImage");
            imgType.src = masked;
            imgStatus = 'mask';
        }
    }
</script>


<h1 id="header" align="center"> About Jay Manjrekar </h1>
<div align="center">
    <a id="links" href="https://docs.google.com/document/d/1b8XxDljHwsNPgyQ3KBtOjHy1575NbxJuUtkxBfm_Hk0/edit?usp=sharing">CSP Journal</a><br>
    <a id="links" href="https://github.com/YashShah138/Team-MicrosoftTechSupport/commits?author=JayManjrekar">Commits</a><br>
    <a id="links" href="https://docs.google.com/document/d/14YG7ZscxqKMrEArx1GuzEqcIB_f6ZqT086UE8ttQ3lM/edit?usp=sharing">Create Task Plan</a>
<p>Hi everyone, my name is Jay Manjrekar. I am currently 16 years old as I was born August 27,2005. My hobbies include playing soccer,hanging out with my friends, and eating food.</p>
    <img src="https://thumbor.forbes.com/thumbor/fit-in/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5ec595d45f39760007b05c07%2F0x0.jpg%3Fbackground%3D000000%26cropX1%3D989%26cropX2%3D2480%26cropY1%3D74%26cropY2%3D1564" alt="Picture of Messi" style="width:300px;height:300px>

</div>
<div align="center">
    <img id="toggleImage" src="https://github.com/AkhilNandhakumar/Team-MicrosoftTechSupport/blob/main/Static/AboutUs-Pictures/Jay/mask%20photo.PNG?raw=true" width="225" height="300">
    <br><br>
    <button id="toggleButton" onclick="imageToggle('https://github.com/AkhilNandhakumar/Team-MicrosoftTechSupport/blob/main/Static/AboutUs-Pictures/Jay/my%20pic%20without%20mask.PNG?raw=true','https://github.com/AkhilNandhakumar/Team-MicrosoftTechSupport/blob/main/Static/AboutUs-Pictures/Jay/mask%20photo.PNG?raw=true')">Click to toggle image!</button>
</div>
<div align="center">
    <h2>Hockey API Data</h2>
    <p> Team Division Rank:{{var.records[0].teamRecords[0].divisionRank}} </p>
    <p> Goals Scored {{var.records[0].teamRecords[0].goalsScored}} </p>
    <p> Goals Against {{var.records[0].teamRecords[0].goalsAgainst}} </p>
    <p> Games Played {{var.records[0].teamRecords[0].gamesPlayed}} </p>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}