<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!-- This variable sets name of browser tab  -->
{% set project = "Jay" %}

<!-- This is a replacement block for Body in base.html -->
{% block body %}
<!--Try building a new body here -->
<body>
<style>
    .h1 {
        color: white;
        text-align: center;
        padding-top: 20px;
    }
  body {
    background-image: url('/static/AboutUs-Pictures/Yash-Final-Background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
</style>

<div class="h1">
    <h1>About Me Page</h1>

</div>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
