`{% extends "assignments/AboutUs/about_layout.html" %}
{% set project = "Valen About Me" %}
{% set project = "About Valen" %}

{% block body %}

<style>
    body {
        background-color: lightskyblue;
    }
</style>

<script>
    let imgStatus = 'masked';
    function imageToggle() {
        if (imgStatus == 'masked') {
            var imgType = document.getElementById("toggleImage");
            imgType.src = "https://github.com/AkhilNandhakumar/Team-MicrosoftTechSupport/blob/main/Static/AboutUs-Pictures/Valen/Photo%20on%2012-3-21%20at%2011.33%20AM%20%232.jpg?raw=true"
            imgStatus = 'unmasked';
        }
        else{
            var imgType = document.getElementById("toggleImage");
            imgType.src = "https://github.com/AkhilNandhakumar/Team-MicrosoftTechSupport/blob/main/Static/AboutUs-Pictures/Valen/Photo%20on%2012-3-21%20at%2011.33%20AM.jpg?raw=true" +
                "";
            imgStatus = 'masked';
        }
    }
</script>

<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
    <div class="col-12">
        <p>Hello, {{input}}!</p>
    </div>
    <div class="col-12">
        <form id="greet" method="POST" action={{link}} >
            <label for="name">Type a greeting name?</label>
            <input name="input" id="name">
            <input type="submit" value="Greetings!">
        </form>
    </div>
</div>

<h1 id="header" align="center"> Valen Reynolds </h1>
<div align="center">
    <a id="links" href="https://docs.google.com/document/d/1geU9paAdtZwbeuL5gZV7TnSUav7B4RINUZdbdMl7DAQ/edit?usp=sharing">CSP Journal</a><br>
    <a id="links" href="https://github.com/AkhilNandhakumar/Team-MicrosoftTechSupport/commits?author=ValenReynolds">Commits</a>
    <img id="toggleImage" src="https://github.com/AkhilNandhakumar/Team-MicrosoftTechSupport/blob/main/Static/AboutUs-Pictures/Valen/Photo%20on%2012-3-21%20at%2011.33%20AM.jpg?raw=true" width="225" height="300">
    <button id="toggleButton" onclick="imageToggle()">Click to toggle image!</button>

    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, I am 16 years old. I go to del norte highschool. My favorite subject is history. I like to play basketball. These are pictures of me, me my grandpa and brother, and me playing basketball. My favorite food is BBQ.</p>
            <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/about%20static/valen%20static/Valen2.jpg?raw=true" width="400" height="266">
            <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/about%20static/valen%20static/Valen1.JPG?raw=true" width="361" height="418">
            <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/about%20static/valen%20static/Valen3.jpg?raw=true" width="425" height="300">
        </div>
        <div class="col-12">
            <form action="/Hello" id="Hello" method="POST" >
            </form>
        </div>
    </div>

    <p> {{ chargers[19].name }} 2021 Record api </p>
    <p> Record: {{ chargers[19].wins }} - {{ chargers[19].losses }}</p>

    {% endblock %}


`