{% extends "assignments/AboutUs/about_layout.html" %}
{% set project = "Valen About Me" %}
{% set project = "About Valen" %}

{% block body %}

<style>
    body {
        background-color: lightskyblue;
    }
</style>


    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{input}}!</p>
        </div>
        <div class="col-12">
            <form id="greet" method="POST" action={{link}} >
                <label for="name">Type a greeting name?</label>
                <input name="input" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>
    </div>

    <img id="toggleImage" src=unmased_image width="225" height="300"> # add your images in DOM
    <button id="toggleButton" onclick="imageToggle(masked_image, unmasked_image)">Click to toggle image!</button> # add your images in function

    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, I am 16 years old. I go to del norte highschool. My favorite subject is history. I like to play basketball. These are pictures of me, me my grandpa and brother, and me playing basketball. My favorite food is BBQ.</p>
            <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/about%20static/valen%20static/Valen2.jpg?raw=true" width="400" height="266">
            <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/about%20static/valen%20static/Valen1.JPG?raw=true" width="361" height="418">
            <img src="https://github.com/SlimeyTurtles/Rat-Homework/blob/main/static/about%20static/valen%20static/Valen3.jpg?raw=true" width="425" height="300">
        </div>
        <div class="col-12">
            <form action="/Hello" id="Hello" method="POST" >
            </form>
        </div>
    </div>

<p> {{ chargers[19].name }} 2021 Record api </p>
<p> Record: {{ chargers[19].wins }} - {{ chargers[19].losses }}</p>

{% endblock %}

