<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!-- This variable sets name of browser tab  -->
{% set project = "Yash" %}

<!-- This is a replacement block for Body in base.html -->
{% block body %}
<!--Try building a new body here -->
<body>
<style>
    body {
        background-image: url('/static/AboutUs-Pictures/Yash-Final-Background.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>
<!--
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: 'Times New Roman';">

        <div class="col-12">
            <form action="/Yash" id="Yash" method="POST" >
                <label for="name"><p style="font-size:20px">Hi, what's your name? My name is Yash.</p></p></label>
                <input name="name" id="name">
                <input type="submit" value="Hey!">
            </form>
            <div class="col-12">
                <p style="font-size:25px">Hey, {{name}}!</p></p>
            </div>
            <div class="col-sm">
                <a href="{{ Journal0 }}" class="btn">Personal wireframe</a>
            </div>
        </div>
    </div>
-->
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
