{% extends "assignments/AboutUs/about_layout.html" %}
{% set project = "Yash" %}
{% block body %}

<body>
<style>
    body {
        background-image: url('/Static/AboutUs-Pictures/Yash/Yash-Final-Background.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

<img id="toggleImage" src=unmased_image width="225" height="300"> # add your images in DOM
<button id="toggleButton" onclick="imageToggle(masked_image, unmasked_image)">Click to toggle image!</button> # add your images in function

{% endblock %}

