<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    let ccdisplay = document.querySelector('.crrDisplay');
    let incdisplay = document.querySelector('.incDisplay');
    let guess = document.querySelector('#character');
    let textForm = document.querySelector('.textForm');

    var commonWords = [
    "Surfing", "Beach Volleyball",

    var chooseRandomWord = function(array) {
    return array[Math.floor(Math.random() * array.length)];
    }

</head>
<body>

</body>
</html>