<html>
<head>
    <title>Password</title>
    <h1>Test Password</h1>
    <script>
var password = "SurfingIsAmazing"

function passcheck() {
    if(document.getElementById('botward').value != password) {
        alert('Wrong Password Please Try Again');
        return false;

    }
    if(document.getElementById('botward').value == password) {
        alert('Correct Password ');
    }
}
    </script>

</head>
<body style="background-color:powderblue;">
    <form class="passform" onsubmit="return passcheck()" >
        Password: <input type="password" required id="botward"
                         <input type="submit">
    </form>
</body>
</html>