<!DOCTYPE html>

<!-- EXTEND (layout.html), this is a template for all rendered pages in the project -->
{% include "layouts/base.html" %}

<!-- CONTENT (in <head>), content for this page -->
{% block meta %}

{% endblock %}

<!-- CONTENT (in <body>), content for this page -->
{% block content %}
<div>
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light text-dark rounded-3">
            <h2>Table Viewer</h2>
            <div class="row align-items-md-stretch">
                <table class="table">
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><a href={{url_for('reviews')}}>Full Table </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}