{% extends "layouts/base.html" %}

{% block head %}

<style>

</style>
<script>
    const WordBank = ['Beach', 'Towel', 'Shell', 'Shark']

    if (localStorage.getItem("Word") == undefined) {
        let index = Math.floor(Math.random() * WordBank.length)
        let Word = WordBank[index].toUpperCase()
        localStorage.setItem("Word", Word)
    }

    GuessNum = 0

    let Word = localStorage.getItem("Word")

    console.log(Word)

    function Guess(Guess, GuessNum) {

        for (var i = 0; i < Guess.length; i++) {

            let GuessChar = Guess[i].toUpperCase()

            var canvas = document.getElementById(GuessNum + "x" + i)
            var ctx = canvas.getContext('2d');
            console.log(GuessChar)

            if (GuessChar === Word[i]) {

                ctx.fillStyle = 'green';

            } else if (Word.indexOf(GuessChar) > -1) {

                ctx.fillStyle = 'yellow';

            } else {

                ctx.fillStyle = 'grey';

            }

            ctx.fillRect(10, 10, 150, 100);
            ctx.fillStyle = 'black';
            ctx.font = "30px Verdana";
            ctx.fillText(GuessChar, 70, 75)
        }
    }

</script>

{% endblock %}
{% block body %}

{% for row in range(6) %}
    {% for column in range(5) %}

    <canvas class="canvas" id="{{row}}x{{column}}" width="150" height="150"></canvas>

    <script>
        var canvas = document.getElementById('{{row}}x{{column}}')
        var ctx = canvas.getContext('2d');

        ctx.fillStyle = 'grey';
        ctx.fillRect(10, 10, 150, 100);
    </script>

    {% endfor %}
    <br>
{% endfor %}

<form action="/wordle/" method="POST">
    <label for="Guess">Enter a guess:</label><br>
    <input type="text" id="Guess" name="Guess"><br>
    <input type="submit" value="Submit">
</form>

<p>guess: {{guess}}</p>

<script>
    Guess('{{guess}}', GuessNum)
</script>

{% endblock %}