{% extends "layouts/base.html" %}

{% block head %}

<style>

</style>
<script>
    const WordBank = ['Beach', 'Towel', 'Shell', 'Shark']

    if (localStorage.getItem("Word") == undefined) {
        let index = Math.floor(Math.random() * WordBank.length)
        localStorage.setItem("Word", WordBank[index].toUpperCase())
    }

    if (localStorage.getItem("GuessList") == undefined) {
        let GuessList = [];
        GuessList[0] = '{{guess}}'
        localStorage.setItem("GuessList", JSON.stringify(GuessList))
    } else if ('{{guess}}'.length != 0) {
        let GuessList = JSON.parse(localStorage.getItem("GuessList"));
        if (!('{{guess}}' in GuessList)) {
            GuessList.push('{{guess}}')
            localStorage.setItem("GuessList", JSON.stringify(GuessList))
        }
    }

    let GuessList = JSON.parse(localStorage.getItem("GuessList"));
    let Word = localStorage.getItem("Word");

    console.log('Latest Guess: ' + '{{guess}}')
    console.log('Guess List: ' + GuessList)
    console.log('Word: ' + Word)

    function Render(GuessList) {

        for (let j = 0; j < GuessList.length; j++) {

            let Guess = GuessList[j]

            for (let i = 0; i < Guess.length; i++) {

                let GuessChar = Guess[i].toUpperCase()
                let canvas = document.getElementById(j + "x" + i)
                let ctx = canvas.getContext('2d');

                if (GuessChar === Word[i]) {

                    ctx.fillStyle = 'green';

                } else if (Word.indexOf(GuessChar) > -1) {

                    ctx.fillStyle = 'yellow';

                } else {

                    ctx.fillStyle = 'grey';

                }

                ctx.fillRect(10, 10, 150, 100);
                ctx.fillStyle = 'black';
                ctx.font = "30px Verdana";
                ctx.fillText(GuessChar, 70, 75)
            }
        }
    }

</script>

{% endblock %}
{% block body %}

{% for row in range(6) %}
    {% for column in range(5) %}

    <canvas class="canvas" id="{{row}}x{{column}}" width="150" height="150"></canvas>

    <script>
        var canvas = document.getElementById('{{row}}x{{column}}')
        var ctx = canvas.getContext('2d');

        ctx.fillStyle = 'grey';
        ctx.fillRect(10, 10, 150, 100);
    </script>

    {% endfor %}
    <br>
{% endfor %}

<form action="/wordle/" method="POST">
    <label for="Guess">Enter a guess:</label><br>
    <input type="text" id="Guess" name="Guess"><br>
    <input type="submit" value="Submit">
</form>

<p>guess: {{guess}}</p>
<button onclick="localStorage.setItem('GuessList', JSON.stringify([]))">reset</button>

<script>
    Render(GuessList)
</script>

{% endblock %}