{% extends "layouts/base.html" %}

{% set image_list=image_list %}

{% block head %}
{% block beach_head %}{% endblock %}

<style>
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .cursor {
        cursor: pointer;
    }
    .demo {
        opacity: 0.6;
    }
    .active,
    .demo:hover {
        opacity: 1;
    }
    .container {
        position: relative;
    }
</style>

{% endblock %}
{% block body %}

<div class="container">
    <img id="image" src="{{image_list[1]}}" height="500" width="875">
    <div class="row">
    {% for image in image_list %}
        <img class="demo cursor" src="{{image}}" onclick="document.getElementById('image').src = '{{image}}'">
    {% endfor %}
    </div>
</div>

{% block beach_body %}{% endblock %}
{% endblock %}