{% set project = "Home" %}
{% include "layouts/base.html" %}

{% block body %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-pase5AparMC_AsscX5GaFIff1TJtYvI&callback=initMap"
        type="text/javascript"></script>
<style>
    body {
        background-image: url("/Static/AboutUs-Pictures/Yash/Yash-Final-Background.jpeg");
    }
    #map {
        border: solid black 5px;
        background-color: transparent;
        margin-top: 20px;
    }
    h2{
        margin: 10px
    }
    #beachsearch, #submit{
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<div align="center">
    <div id="map" style="width: 800px; height: 600px;"></div>
</div>

<script type="text/javascript">
    let locations = [
        ['Ocean Beach', 32.751671, -117.244278, 4],
        ['Mission Beach', 32.802910, -117.216380, 5],
        ['Tourmaline Surf Park', 32.80725210875066, -117.2659091433535, 3],
        ['Blacks Beach', 32.89074673771713, -117.25346147074998, 2],
        ['Windansea Beach', 32.83267151163511, -117.28295138927425, 1]
    ];

    let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: new google.maps.LatLng(32.827754, -117.247621),
        mapTypeId: google.maps.MapTypeId.SATELLITE
    });

    let infowindow = new google.maps.InfoWindow();

    let marker, i;

    for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
            }
        })(marker, i));
    }

//  search function -----------------------------------------------------------------------------------------------

    const beachPages = '{"pages":[' +
    // beaches
        '{"name":"Del Mar Beach", "url":"/del-mar-beach/"},' + '{"name":"Solana Beach", "url":"/solana-beach/"},' + '{"name":"Pacific Beach", "url":"/pacific-beach/"},' + '{"name":"Blacks Beach", "url":"/blacks-beach/"},' + '{"name":"Snake Game", "url":"/snake-game/"},' +'{"name":"Hangman Game", "url":"/hangman-game/"},' +
        // about pages
        '{"name":"Akhil Nandhakumar", "url":"/akhil/"},' +
        '{"name":"Yash Shah", "url":"/yash/"},' +
        '{"name":"Avinh Huynh", "url":"/avinh/"},' +
        '{"name":"Jay Manjrekar", "url":"/jay/"}]}';

    function SearchBeaches() {
        x = JSON.parse(beachPages);
        input = document.getElementById('beachsearch');
        list = input.value.toLowerCase(); // the user's input is changed to uppercase so that the search is not case-sensitive
        for (i = 0; i < beachPages.length; i++) { // this section goes through the items in my array and checks if the user's input is the same as any object name
            if (list.substring(0, list.length) === x.pages[i].name.toLowerCase().substring(0, list.length)) { //using substrings allows users to only input part of the page name instead of the whole thing
                link = x.pages[i].url
                return link
            }
        }
    }
</script>


{% endblock %}